$bodyBackground: rgba(198, 238, 252, 0.53);
$contentColor: #FFFFFF;
$contentBackground: #3B3B3B;
$briefBackgroundColor: #FFF178;
$headingColor: #fccd10;
$briefWidth:96%;
$briefMargins: 10px 0 40px;
$imgRightMargins: 0;
$uppercaseHeading: uppercase;
$linkColor: #E5AD04;
$thBackgroundColor: #94A34E;
$tdBackgroundColor: #677D01;
$tdBottomColor: $thBackgroundColor;
$labelColor: #F5C70F;
$inputBorder: $thBackgroundColor;
$buttonColor: $labelColor;
$buttonBackground: $contentBackground;