$bodyBackground: #dcbb9a;
$contentColor: #000;
$contentBackground: #ffffff;
$briefBackgroundColor: #fadcba;
$headingColor: #893c00;
$briefWidth:40%;
$briefMargins: 10px 20px 10px 0;
$imgRightMargins: 10px;
$uppercaseHeading: none;
$linkColor: #3D70A1;
$thBackgroundColor: #E0E0E0;
$tdBackgroundColor: $contentBackground;
$tdBottomColor: $thBackgroundColor;
$labelColor: #808080;
$inputBorder: $thBackgroundColor;
$buttonColor: #4274A3;
$buttonBackground: $contentBackground;